{{define "title"}}Create{{end}}
{{define "main"}}
<div class="create">
  <form action="/post/create" method="POST" enctype="multipart/form-data">
    <h2>Жаңа пост</h2>
    <textarea spellcheck="false" maxlength="77" placeholder="Тақырыбы" required name="title"></textarea>
    <textarea class="myarea" spellcheck="false" maxlength="2000" placeholder="Мұнда бірдеңе теріңіз..." name="content"
      required></textarea>
      <!-- Drop and draw -->
      <div id="drop-area">
        <input class="image-file-upload" type="file" name="image" id="fileInput" accept="image/*">
        <p>Суретті осы жерге сүйреп апарыңыз немесе таңдау үшін басыңыз</p>
        <input class="image-file-upload" type="file" name="image" id="fileInput" accept="image/*">
      </div>
      <div class="post-image-message"></div>

    <div class="container">
      <ul class="ks-cboxtags">
        <li><input type="checkbox" id="checkboxOne" name="Game" value="Game"><label for="checkboxOne">Ойындар</label></li>
        <li><input type="checkbox" id="checkboxTwo" name="Films" value="Films"><label for="checkboxTwo">Фильмдер</label></li>
        <li><input type="checkbox" id="checkboxThree" name="Programming" value="Programming"><label for="checkboxThree">Бағдарламалау</label></li>
        <li><input type="checkbox" id="checkboxFour" name="Anime" value="Anime"><label for="checkboxFour">Аниме</label></li>
        <li><input type="checkbox" id="checkboxFive" name="Sport" value="Sport"><label for="checkboxFive">Спорт</label></li>
      </ul>
    </div>
    <div class="center">
      <button type="submit" class="create_btn">Жасау</button>
    </div>
  </form>
</div>
{{end}}