{{define "title"}}Home{{end}}

{{define "main"}}
<div class="box">
  <div>
    <div class="category-slider">
        <div class="filter_new_back">
          <a id="filter_new" class="filter_new" onclick="sortCategory('game')">Ойындар</a>
          <a class="filter_new" onclick="sortCategory('films')">Фильмдер</a>
          <a class="filter_new" onclick="sortCategory('programming')">Бағдарламалау</a>
          <a class="filter_new" onclick="sortCategory('anime')">Аниме</a>
          <a class="filter_new" onclick="sortCategory('sport')">Спорт</a>
        </div>
    </div>
  </div>
  <div class="post_table" id="post-table">
    {{if .Posts}} 
        {{range .Posts}}
        <a class="checkhref" href='/post/view/{{.ID}}'>
          <div class="posts-back">
            <div class="post-main-box">
              {{if .Image}}
                <img class="post-image-main-screen" src="/static/uploads/{{ .Image}}" alt="">
              {{end}}
              <div class="post-info-box">
                <div class="post_item_title">Тақырып: {{.Title}}</div>
                <div class="post_item_title">Автор: {{.UserName}}</div>
              </div>
            </div>
            <div class="post-bottom">
              <div class="posts_item_category">{{.Category}}</div>
              <div class="post_item-date">{{humanDate .Created}}</div>
            </div>
          </div>
        </a>
        {{end}}
    {{else}}
        <p>
          {{if not .Category}}
            Бұл жерде әлі пост жоқ
          {{end}}
        </p>
      {{end}}
  </div>
</div>
{{end}}
