{{define "title"}}Home{{end}}

{{define "main"}}
<div class="box">
  <div>
    <div class="category-slider">
        <div class="filter_new_back">
          <a id="filter_new" class="filter_new" href="/post/category/game">Ойындар</a>
          <a class="filter_new" href="/post/category/films">Фильмдер</a>
          <a class="filter_new" href="/post/category/programming">Бағдарламалау</a>
          <a class="filter_new" href="/post/category/anime">Аниме</a>
          <a class="filter_new" href="/post/category/sport">Спорт</a>
        </div>
    </div>
  </div>
  <div class="post_table">
    {{if .Posts}} 
      <table class="post_table">
        <tr>
          <th class="post_item">Тақырып</th>
          <th class="post_item">Жасалды</th>
          <th class="post_item">Категория</th>
          <th class="post_item">ID</th>
        </tr>
        {{range .Posts}}
          <tr class="post_back">
            <td><div class="posts_item"><a href='/post/view/{{.ID}}'>{{.Title}}</a></div></td>
            <td><div class="posts_item">{{humanDate .Created}}</div></td>
            <td><div class="posts_item">{{.Category}}</div></td>
            <td><div class="posts_item">#{{.ID}}</div></td>
          </tr>
        {{end}}
      </table>
      {{else}}
        <p>
          {{if not .Category}}
            Бұл жерде әлі пост жоқ!
          {{end}}
        </p>
      {{end}}
  </div>
</div>
{{end}}
