{{define "title"}}Home{{end}}

{{define "main"}}
<div class="box">
  <div>
    <div class="category-slider">
        <div class="filter_new_back">
          <a id="filter_new" class="filter_new" onclick="sortCategory('game')">Game</a>
          <a class="filter_new" onclick="sortCategory('films')">Films</a>
          <a class="filter_new" onclick="sortCategory('programming')">Programming</a>
          <a class="filter_new" onclick="sortCategory('anime')">Anime</a>
          <a class="filter_new" onclick="sortCategory('sport')">Sport</a>
        </div>
    </div>
  </div>
  <div class="post_table" id="post-table">
    {{if .Posts}} 
        {{range .Posts}}
        <a class="checkhref" href='/post/view/{{.ID}}'>
          <div class="posts-back">
            <div class="post-main-box">
              {{if .Image}}
                <img class="post-image-main-screen" src="/static/uploads/{{ .Image}}" alt="">
              {{end}}
              <div class="post-info-box">
                <div class="post_item_title">Title: {{.Title}}</div>
                <div class="post_item_title">Author: {{.UserName}}</div>
              </div>
            </div>
            <div class="post-bottom">
              <div class="posts_item_category">{{.Category}}</div>
              <div class="post_item-date">{{humanDate .Created}}</div>
            </div>
          </div>
        </a>
        {{end}}
    {{else}}
        <p>
          {{if not .Category}}
            There are no posts here yet.
          {{end}}
        </p>
      {{end}}
  </div>
</div>
{{end}}
