{{define "title"}}Login{{end}}
{{define "main"}}
<div class="login_back">
  <div class="wrapper active-pop">
    <div class="form-box login">
      <h2>Кіру</h2>
      <form action="/user/login" method="POST">
        <div class="input-box">
          <span class="icon">
            <ion-icon name="mail"></ion-icon>
          </span>
          <input class="log-email" type="text" name="email" maxlength="30" required>
          <label>Email</label>
        </div>

        <div class="input-box">
          <span class="icon">
            <ion-icon class="log-icon-lock1 log-icon-lock" name="lock-closed"></ion-icon>
          </span>
          <input class="log-pass" id="password-label-log" type="password" name="password" maxlength="25" required>
          <label>Құпия сөз</label>
        </div>

        

        <div class="input-box inperr" id="error-window-box"> <!--ERROR ---- MSG -->
          <span class="icon">
            <ion-icon name="alert-circle-outline"></ion-icon>
          </span>
          <label id="error-window-log"></label>
        </div>


        <div class="remember-forgot">
          <label><input type="checkbox">
            Мені сақтау</label>
          <a href="#">Құпия сөзіңізді ұмыттыңызба?</a>
        </div>

        <a class="auth-platforms-link" href="/auth/google/login">Google</a>
        <a href="auth-platforms-link">GitHUB</a>


        <button type="submit" class="btn">Кіру</button>
        <div class="login-register">
          <p>Аккаунтыңыз жоқпа?<a href="#" class="register-link"> Тіркелу</a></p>
        </div>


      </form>
    </div>


    <div class="form-box register">
      <h2>Тіркелу</h2>
      <form action="/user/register" method="POST">
        <div class="input-box">
          <span class="icon">
            <ion-icon name="person"></ion-icon>
          </span>
          <input id="reg-username" class="reg-username" type="text" name="username" maxlength="20" required>
          <label>Қолданушы аты</label>
        </div>


        <div class="input-box">
          <span class="icon">
            <ion-icon name="mail"></ion-icon>
          </span>
          <input class="reg-email" type="text" name="email" maxlength="40" required>
          <label>Email</label>
        </div>


        <div class="input-box">
          <span class="icon">
            <ion-icon class="log-icon-lock2 log-icon-lock" name="lock-closed"></ion-icon>
          </span>
          <input class="reg-password" id="password-label-reg" type="password" name="password" required>
          <label>Құпия сөз</label>
        </div>


        <div class="input-box">
          <span class="icon">
            <ion-icon class="log-icon-lock3 log-icon-lock" name="lock-closed"></ion-icon>
          </span>
          <input class="reg-password-second" id="password-label-reg2" type="password" name="password-repeat" required>
          <label>Құпия сөз қайталау</label>
        </div>


        <div class="input-box inperr" id="error-window-box2"> <!--ERROR ---- MSG -->
          <span class="icon">
            <ion-icon name="alert-circle-outline"></ion-icon>
          </span>
          <label id="error-window-log2">ERROR</label>
        </div>

        <div class="remember-forgot">
          <label><input name="checkbox" type="checkbox">
            Мен шарттармен келісемін </label>
        </div>
        
        <div class="input-box inperr" id="error-window-box2"> <!--ERROR ---- MSG -->
          <span class="icon">
            <ion-icon name="alert-circle-outline"></ion-icon>
          </span>
          <label id="error-window-log2"></label>
        </div>

        <button type="submit" id="btn-reg" class="btn">Тіркелу</button>
        <div class="login-register">
          <p>Аккаунтыңыз барма? <a href="#" class="login-link"> Кіру</a></p>
        </div>

      </form>
    </div>
  </div>
</div>
<div class="invisible_info">
  <div id="form-act">{{.Form.Form}}</div>
  <div id="form-error">{{.Form.Error}}</div>
  <div id="ReturnedEmail">{{.Form.ReturnedEmail}}</div>
  <div id="ReturnedUsername">{{.Form.ReturnedUsername}}</div>
  <div id="ReturnedPass">{{.Form.ReturnedPass}}</div>
  <div id="ReturnedPass2">{{.Form.ReturnedPass2}}</div>
</div>

{{end}}