{{define "title"}}Login{{end}}
{{define "main"}}
<div class="login_back">
  <div class="wrapper active-pop">
    <div class="form-box login">
      <h2>Login</h2>
      <form id="loginForm">
        <div class="input-box">
          
          <input class="log-email" type="text" name="email" maxlength="30" required>
          <label>Email</label>
        </div>

        <div class="input-box">
          
          <input class="log-pass" id="password-label-log" type="password" name="password" maxlength="25" required>
          <label>Password</label>
        </div>

        <div class="auth-error" id="login-error"></div>

        <div class="remember-forgot">
          <label><input type="checkbox">
            Remember me</label>
          <a href="#">Forgot password?</a>
        </div>

        <div class="auth_link_main-back">
          <a class="auth_link" href="/auth/google/login">
            <div class="auth_link_back">
              <img class="auth_link_img" src="/static/img/google_icon.png" alt="">
              Google
            </div>
          </a>
          <a class="auth_link" href="/auth/github/login">
            <div class="auth_link_back">
              <img class="auth_link_img" src="/static/img/github_icon.png" alt="">
              GitHUB
            </div>
          </a>
        </div>

        <div class="btn" onclick="login()">Login</div>
        <div class="login-register">
          <p>Don't have an account?<a href="#" class="register-link"> Register</a></p>
        </div>


      </form>
    </div>


    <div class="form-box register">
      <h2>Registration</h2>
      <form id="register-form">
        <div class="input-box">
          
          <input id="reg-username" class="reg-username" type="text" name="username" maxlength="20" required>
          <label>Username</label>
        </div>


        <div class="input-box">
          
          <input class="reg-email" type="text" name="email" maxlength="40" required>
          <label>Email</label>
        </div>


        <div class="input-box">
          
          <input class="reg-password" id="password-label-reg" type="password" name="password" required>
          <label>Password</label>
        </div>


        <div class="input-box">
          
          <input class="reg-password-second" id="password-label-reg2" type="password" name="password-repeat" required>
          <label>Repeat password</label>
        </div>


        <div class="auth-error" id="register-error"></div>

        <div class="remember-forgot">
          <label><input id="register-checkbox" name="checkbox" type="checkbox">
            I agree to the terms & conditions </label>
        </div>

        <div class="auth_link_main-back">
          <a class="auth_link" href="/auth/google/login">
            <div class="auth_link_back">
              <img class="auth_link_img" src="/static/img/google_icon.png" alt="">
              Google
            </div>
          </a>
          <a class="auth_link" href="/auth/github/login">
            <div class="auth_link_back">
              <img class="auth_link_img" src="/static/img/github_icon.png" alt="">
              GitHUB
            </div>
          </a>
        </div>

        <div id="btn-reg" class="btn" onclick="register()">Register</div>
        <div class="login-register">
          <p>Already have an account? <a href="#" class="login-link"> Login</a></p>
        </div>

      </form>
    </div>
  </div>
</div>
{{end}}