{{define "title"}}Profile{{end}}
{{define "main"}}
    <div class="profile-box">
        <div class="profile-user-in">
            <div class="profile-title">
                <h1>Жеке парақша</h1>
            </div>
            <h2>Қолданушы аты: {{ .Form.Name}}</h2>
            <h2 class="profile-email">email: {{ .Form.Email}}</h2>
            <div class="profile-photo-back">
                <img class="profile-photo" src="/static/profile_photo/{{ .Form.ProfilePhoto}}" alt="">
            </div>
            <div class="change-profile-photo">
                <form action="/user/profile" method="POST" enctype="multipart/form-data">
                    <div id="drop-area">
                        <input class="image-file-upload" type="file" name="image" id="fileInput" accept="image/*">
                        <p>Суретті осы жерге сүйреп апарыңыз немесе таңдау үшін басыңыз</p>
                        <input class="image-file-upload" type="file" name="image" id="fileInput" accept="image/*">
                      </div>
                      <div class="post-image-message"></div>
                      <button type="submit">Change</button>
                </form>
            </div>
            <a class="btnLogin" href="/user/logout">Logout</a>
        </div>
    </div>

{{end}}