{{define "title"}}Менікі{{end}}
{{define "main"}}
{{with .Post}}
<div class="post_main">
    <div class="view-page">
        <div class='post'>
            <div class="username-photo-post">
                <img class="user-profile-photo" src="/static/profile_photo/{{ .ProfilePhoto}}" alt="">
                <h2>{{.UserName}}</h2>
            </div>
            <div class='post-box post-title'>
                <strong>{{.Title}}</strong>
            </div>
            <p>{{.Content}}</p>
            {{if .Image}}
            <div class="view_image_back">
                <div class="view_image_inner_back">
                    <img class="post-img" src="/static/uploads/{{ .Image}}" alt="{{.Image}}">
                </div>
            </div>
            {{end}}
            <div class='post-box-reaction-back'>
                {{if .IsAuthenticated}}
                    <div class="reaction-back">
                        <div class="reaction like"><img src="/static/img/like.png" alt="Like" onclick="reactionPost('/likePost?id={{.ID}}')" ></div>
                        <strong>{{.Likes}}</strong>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <div class="reaction dislike"><img src="/static/img/dislike.png" alt="Dislike" onclick="reactionPost('/dislikePost?id={{.ID}}')"></div>
                        <strong>{{.Dislikes}}</strong>
                    </div>
                {{else}}
                    <div class="reaction-back">
                        <img src="/static/img/like.png" alt="Like">
                        <strong>{{.Likes}}</strong>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <img src="/static/img/dislike.png" alt="Dislike">
                        <strong>{{.Dislikes}}</strong>
                    </div>
                {{end}}
                <br>
                <div class="post-time-box">
                    <time class="post-time">{{humanDate .Created}}</time><br>
                </div>
                
            </div>
        </div>
    {{end}}
    
    <div class="container"> 
        <ul class="ks-cboxtags-post">
            {{range .PostCategoriesForm}}
                <a href="/post/category/{{ .CategoriesName}}"><li><input type="hidden" id="checkboxOne"><label for="checkboxOne">{{ .CategoriesName}}</label></li></a>
            {{end}}
        </ul>
    </div>
    <div class="comments">
        {{if .Comments}}
                <h3>Комментарийлер:</h3>
                    {{range .Comments}}
                        <div class="comment-box">
                            <div class="comment">
                                <div class="comment-header">
                                    <div class="comment-author">
                                        <img class="user-profile-photo" src="/static/profile_photo/{{ .AuthorProfilePhoto}}" alt="">
                                        <strong class="comment-author-name">{{.Author}}</strong>
                                    </div>
                                </div>
                                <div class="comment-body">
                                    <p>{{.CContent}}</p>
                                </div>
                                <div class="comment-reactions">
                                    {{if .IsAuthenticated}}
                                        <div class="reaction-back">
                                            <div class="reaction comment-like" href="/likeComment?id={{.Id}}"><img src="/static/img/like.png" alt="Like" onclick="reactionComment('/likeComment?id={{.Id}}')"></div>
                                            <strong>{{.Likes}}</strong>
                                            <span>&nbsp;</span>
                                            <div class="reaction comment-dislike" href="/dislikeComment?id={{.Id}}"><img src="/static/img/dislike.png" alt="Dislike" onclick="reactionComment('/dislikeComment?id={{.Id}}')"></div>
                                            <strong>{{.Dislikes}}</strong>
                                        </div>
                                    {{else}}
                                        <div class="reaction-back">
                                            <img src="/static/img/like.png" alt="Like">
                                            <strong>{{.Likes}}</strong>
                                            <span>&nbsp;</span>
                                            <img src="/static/img/dislike.png" alt="Dislike">
                                            <strong>{{.Dislikes}}</strong>
                                        </div>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                        <hr>
                    {{end}}
            
        {{end}}
    </div>  

        {{if .IsAuthenticated}}
            <div class="form-group add-comment">
                <label class="add-comment-text" for="comment-{{.Post.ID}}">Комментарий жазу:</label>
                <textarea class="form-control no-resize comment-content" id="comment-{{.Post.ID}}" name="comment" rows="3"></textarea>
                {{if .Form}}
                <div class="error-message">
                    <p>{{ .Form}}</p>
                </div>
                {{end}}
            </div>
            <div class="btn btn-primary cs-button" onclick="createCommentFunc('/post/view/{{.Post.ID}}')">Жіберу</div>

        {{else}}
        <p>Комментарий жазу немесе жазбаларға/түсініктемелерге жауап беру үшін <a class="login-link" href="/user/login">Кіру</a></p>
        {{end}}
    {{end}}
    </div>
</div>