{{ define "nav"}}
<header class="header">
    <a href="/"><h2 class="logo">KATU</h2></a>
    <nav class="navigation">
      <a class="nav-menu" href="/">Басты бет</a>
      <a class="nav-menu" href="/post/create">Жаңа пост</a>
      <a class="nav-menu" href="/?category=created">Менің посттарым</a>
      <a class="nav-menu" href="/?category=liked">Ұннаған посттар</a>
      {{if .IsAuthenticated}}
      <a class="btnLogin" href="/user/profile">{{ .UserName}}</a>
      <a class="btnLogin" href="/user/logout">Шығу</a>
      {{else}}
      <a class="btnLogin" href="/user/login">Кіру</a>
      {{end}}
    </nav>
    <span class="icon-menu">
      <img class="menu-img" src="/static/img/menu.png" alt="">
    </span>
</header>
{{end}}